body {
    font-family: "Quicksand", sans-serif;
    background-color: #1e1e1e;
    color: #acd2e4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }

  h1 {
    margin-bottom: 20px;
    text-shadow: 0 0 8px #acd2e4;
  }



#rules {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 250px;
  background-color: rgb(205, 201, 201);
  /* background-color: #222; */
  color: black;
  font-weight: 500;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(213, 213, 204, 0.806);
  text-align: center;
  z-index: 999;
  display: none;
}

#rules button {
  margin-top: 10px;
  padding: 8px 16px;
  border: none;
  background: white;
  color: #000;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}
#rules button:hover{
  box-shadow:0 0 5px grey;
}



#lights {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}

.light {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #333;
  transition: background-color 0.2s;
  box-shadow: 0 0 10px #000;
  cursor: pointer;
}
@media(max-width: 520px){
  .light{
    width:100%;
    height: 120px;
  }
  #lights{
    display: flex;
    flex-wrap: wrap;
    width: 120px;
  }
  h1{
    font-size: 1.5rem;
  }
  #rules{
    width: 200px;
    height: 300px;
  }
}
.red.active { 
  background-color: red; 
}
.yellow.active { 
  background-color: yellow; 
}
.green.active { 
  background-color: limegreen; 
}

#startBtn {
  padding: 8px 18px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  background: linear-gradient(45deg, #009fff, #ec2f4b);
  border-color: #72BAA9;
  color: white;
  box-shadow: 0 0 5px #009fff;
  border-radius: 8px;
  transition: 0.3s ease;
}
#startBtn:disabled{
  opacity: 0.2;
  cursor: not-allowed;
}
#startBtn:hover{
  box-shadow: 0 0 10px #ec2f4b;
}
#status {
  margin-top: 10px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #acd2e4;
}
span{
  font-weight: 400;
  font-size: 13px;
} 


  
